<app-header></app-header>

<div class="main-contaner">
    <app-sidebar></app-sidebar>
    <div class="main_background">
    <div class="l-main-content">
        <div class="page_main_top_heading">
            <h1>Manage Payment</h1>
        </div>
        <div class="main_sec_shad">
          <div class="top_searc_sec">
              <div class="searc_inner">
                  <ul>
                      <li>
                          Search:
                      </li>
                      <li>
                          <select>
                              <option>All</option>
                              <option>Name</option>
                              <option>Email</option>
                          </select>
                      </li>
                      <li><input type="text" placeholder="Keyword"></li>
                      <li>
                          <select>
                              <option>Select Status</option>
                              <option>Active</option>
                              <option>Inactive</option>
                              <option>Deleted</option>
                          </select>
                      </li>
                      <li>
                          <div class="searh_inn_btn">
                              <button>Search</button>
                              <button>Reset</button>
                          </div>
                      </li>
                  </ul>

              </div>
              <!-- <div class="sec_add_btn">
                <button (click)="goToaddadminuser()">Add</button>
              </div> -->
          </div>
          
          <div class="table-responsive">
            <table class="manage_admin_tbl">
                <thead>
                    <tr>
                    <th> <input type="checkbox" name="vehicle2" value="Car"></th>
                    <th scope="col">Name  </th>
                    <th scope="col">Place</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Total Payments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr class="even">
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr class="even2">
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr class="even3">
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr class="even3">
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                    <tr class="even3">
                        <td><input type="checkbox" name="vehicle2" value="Car"></td>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="mange_tbl_sel">
                       <select>
                         <option>Via Card</option>
                         <option>Gate Way</option>
                       </select>
                        </td>
                        <td>$1000</td>
                    </tr>
                        
                </tbody>
            </table>
            </div>
          <div class="pagination">
              <div class="show_page">
                  <p>Show Page 1 to 12</p>
              </div>
              <div class="pagination_num">
                  <ul>
                      <li>
                          Pervious
                      </li>
                      <li>
                            1
                        </li>
                        <li>
                                2
                            </li>
                            <li>
                                    3
                                </li>
                                <li>
                                    4
                                    </li>
                                    <li>
                                            Next
                                        </li>
                  </ul>
              </div>
          </div>
        </div>
        </div>
        </div>
        </div>
        


