 
 <app-header></app-header>

 <div class="main-contaner">
     <app-sidebar></app-sidebar>
     <div class="main_background">
     <div class="l-main-content">
         <div class="page_main_top_heading addservicemain">
             <h1>Manage Admin</h1>
             <button (click)="goTomanageserviceprovider()">Back to listing</button> 
         </div>
           
         
         <div class="main_sec_shad">
           <div class="viw_usr_img">
               <label>image *</label>
               <img src="../../assets/images/user.png">
           </div> 
           <div class="user_edit_list">
               <ul>
                   <li>
                       <label>Name *</label>
                       <input type="text" name="name" placeholder="Name">
                   </li>
                   <li>
                     <label>Email *</label>
                     <input type="text" name="email" placeholder="Email">
                 </li>
                 <li>
                  <label>Password *</label>
                  <input type="text" name="password" placeholder="Password">
                 </li>
                 <li>
                  <label>CountryCode *</label>
                  <input type="text" name="countrycode" placeholder="CountryCode">
                 </li>
                 <li>
                  <label>Gender *</label>
                  <input type="text" name="gender" placeholder="Gender">
              </li>
              <li>
                <label>State *</label>
                <input type="text" name="state" placeholder="State">
                </li>
                <li>
                  <label>CallType *</label>
                  <input type="text" name="calltype" placeholder="Calltype">
              </li>
              <li>
                <label>GenderPrefrences *</label>
                <input type="text" name="GenderPrefrences" placeholder="GenderPrefrences">
            </li>
               </ul>
           </div>
           <div class="view_user_btn">
               <ul>
                   <li>
                       <button>add user</button>
                   </li>
                   <li>
                     <button>Reset</button>
                 </li>
                 <li>
                     <button>cancel</button>
                 </li>
               </ul>
           </div>
           
          
        
         </div>
         </div>
         </div>
         </div>
 
 
 