<header class="main-header">
    <!-- Logo -->
    <a  class="logo" (click)="goToDashboard()">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="/assets/images/logo.png"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="/assets/images/logo.png"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
    <div class="hdr-icns">
    <ul class="right_nav_links">
    <li class="dropdown notification_dropdown">
    <a class="dropdown-toggle_main" type="link" data-toggle="dropdown"><i class="fa fa-bell" aria-hidden="true"></i></a>
    <ul class="dropdown-menu_main">
    <li>
    <div class="chat_drop_main">
    <div class="chat_user_img">
    <img src="../../../assets/images/user-silhouette.png">
    </div>
    <div class="user_chat_outer">
    <div class="user_chat_des">
    <div class="user_chat_mess">
    <p>Rohit</p>
    </div>
    <div class="user_chat_summ">
    <img src="../../../assets/images/time.png">
    6 min ago
    </div>
    </div>
    <div class="user_chat_text">
    <span>how are you i am a fine and you hloo world</span>
    </div>
    
    </div>
    
    </div>
    </li>
    <li>
    <div class="chat_drop_main">
    <div class="chat_user_img">
    <img src="../../../assets/images/user-silhouette.png">
    </div>
    <div class="user_chat_outer">
    <div class="user_chat_des">
    <div class="user_chat_mess">
    <p>Rohit</p>
    </div>
    <div class="user_chat_summ">
    <img src="../../../assets/images/time.png">
    6 min ago
    </div>
    </div>
    <div class="user_chat_text">
    <span>how are you i am a fine and you hloo world</span>
    </div>
    
    </div>
    
    </div>
    </li>
    <li>
    <div class="chat_drop_main">
    <div class="chat_user_img">
    <img src="../../../assets/images/user-silhouette.png">
    </div>
    <div class="user_chat_outer">
    <div class="user_chat_des">
    <div class="user_chat_mess">
    <p>Rohit</p>
    </div>
    <div class="user_chat_summ">
    <img src="../../../assets/images/time.png">
    6 min ago
    </div>
    </div>
    <div class="user_chat_text">
    <span>how are you i am a fine and you hloo world</span>
    </div>
    
    </div>
    
    </div>
    </li>
    <li>
    <div class="chat_drop_main">
    <div class="chat_user_img">
    <img src="../../../assets/images/user-silhouette.png">
    </div>
    <div class="user_chat_outer">
    <div class="user_chat_des">
    <div class="user_chat_mess">
    <p>Rohit</p>
    </div>
    <div class="user_chat_summ">
    <img src="../../../assets/images/time.png">
    6 min ago
    </div>
    </div>
    <div class="user_chat_text">
    <span>how are you i am a fine and you hloo world</span>
    </div>
    
    </div>
    
    </div>
    </li>
    </ul>
    </li>
    <li class="dropdown">
    <a class="dropdown-toggle" type="link" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
    <li><a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a></li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header>	
    
