<div class="container"  style="width:40%;padding:20px 30px;">
    
    
    
    
    
    <form #fo="ngForm" (ngSubmit)="onSubmit(fo)">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control"  name="email" placeholder="Email" #email="ngModel" ngModel>
    </div>

    <div class="form-group">
        <label for="countrycode">Country Code</label>
        <input type="text" class="form-control" id="countrycode" name="countrycode" ngModel #countrycode="ngModel" placeholder="Country Code"  >
      </div>
      
    <div class="form-group">
        <label for="nickname">NickName</label>
        <input type="text" class="form-control" id="nickname" name="nickname" #nickname="ngModel" placeholder="NickName" ngModel>
      </div>

    <div class="form-group">
      <label for="pwd">Passwordsdfs:</label>
      <input type="password" class="form-control" id="pwd" name="password" #password="ngModel" placeholder="Password" ngModel>
    </div>

    <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="confirm password" class="form-control" id="confirmpwd" name="confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password" ngModel>
      </div>
  
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender" #gender="ngModel" ngModel>
          <option>male</option>
          <option>female</option>   
        </select>
      </div>

      <div class="form-group">
        <label for="area">Area/Country</label>
        <input type="text" class="form-control" id="area" name="area" #area="ngModel" placeholder="area/region/country" ngModel>
      </div>

      <div class="form-group">
        <label for="area">City</label>
        <input type="text" class="form-control" id="cityt" name="city" #city="ngModel" placeholder="City" ngModel>
      </div>

      <div class="form-group">
        <label for="genderpreference">Gender Preference </label>
        <select class="form-control" id="genderpreference" name="genderpreference" #genderpreference="ngModel" ngModel>
          <option>male</option>
          <option>female</option>   
        </select>
      </div>

      <div class="form-group">
        <label for="outcall">OutCall</label>
        <select class="form-control" id="outcall" name="outcall" #outcall="ngModel" ngModel>
          <option>outcall</option>
          <option>incall</option>   
        </select>
      </div>
       

     
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
  </div> 
