<div class="body_wrap">
    <div class="loginapge">
        <div class="contaIner">
            <div class="login_page">
                <div class="top_logo">
                <img src="../../assets/images/logo.png" />
                </div>
                <div class="log_in_form">
                <h1>Reset Password</h1>
                <div class="form_part">
                    <div class="input_box">
                        <input type="email" placeholder="Email" name="email">
                    </div>
                    <div class="input_box submit_box">
                        <button (click)="goTodashboard()" class="frgt-psswrd">Submit</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
