<app-header></app-header>

<div class="main-contaner">
    <app-sidebar></app-sidebar>
    <div class="main_background">
    <div class="l-main-content">
        <div class="page_main_top_heading addservicemain">
            <h1>Manage Admin</h1>
            <button (click)="goTomanageserviceprovider()" class="btn btn-primary" >Back to listing</button> 
        </div>
          
        
        <div class="main_sec_shad">
          <div class="viw_usr_img">
              <label>image *</label>
              <img src="../../assets/images/user.png">
          </div> 
          <div class="user_edit_list">
              <ul>
                  <li>
                      <label>Nick Name *</label>
                      <input type="text" name="nickname" [(ngModel)]="users.nickName" placeholder="Name"  >
                  </li>
                  <li>
                    <label>Email *</label>
                    <input type="text" name="email"  [(ngModel)]="users.email" placeholder="Email">
                </li>
                <li>
                 <label>CountryCode *</label>
                 <input type="text" name="countrycode" [(ngModel)]="users.countryCode" placeholder="Country Code">
                </li>
                <li>
                 <label>Gender *</label>
                <select name="gender" [(ngModel)]="users.gender"  id="gender">
                   <option value="male">male</option>
                   <option value="female">female</option>
                </select>
             </li>
             <li>
                    <label>Call Type *</label>

                   <select name="callType" [(ngModel)]="users.callType"  id="callType">
                      <option value="Incall">Incall</option>
                      <option value="Outcall">Outcall</option>
                   </select>
                </li>
             <li>
                    <label>State *</label>
                    <input type="text" name="state" [(ngModel)]="users.state" placeholder="State">
                   </li>
                
                    <li>
                            <label>Area *</label>
                            <input type="text" name="area" [(ngModel)]="users.area" placeholder="Area">
                      
              </ul>
          </div>
          <div class="view_user_btn">
              <ul>
                  <li>
                    <button (click)="updateManageUser(users)">Update</button>
                </li>
                <li>
                    <button>cancel</button>
                </li>
              </ul>
          </div>
          
         
       
        </div>
        </div>
        </div>
        </div>




