/*****log page css*****/
.loginapge {background: #000;background-repeat: no-repeat;background-size: cover;background-position: center center;height: 100vh;}
.log_in_form {background-color: #fff;padding: 20px;margin:5rem auto 0;width: 30%;}
.contaIner {width: 80%;margin: 0 auto;height: 100%;}
.login_page {text-align: center;display: flex;align-items: center;justify-content: center;flex-direction: column;height: 100%;}
.log_in_form h1 {font-size: 35px;font-weight: 700;margin-bottom: 20px !important;text-transform: uppercase !important;color: #000 !important;line-height: normal;}
.input_box input {height: auto;padding: 10px 20px;border: solid 1px #ddd;font-size: 18px;width: 100%;color: #000;line-height: normal;font-weight: 400;}
.input_box {margin-bottom: 2rem;}
.input_box.remember_box label input {width: auto !important;margin-right: 5px}
.input_box.remember_box label {font-size: 18px;color: #000;line-height: normal;font-weight: 400;}
.input_box.remember_box {text-align: left !important;}
.forgot_password a {color:#000000;font-size: 15px;text-transform: uppercase;font-weight: 600;}
.forgot_password a:hover {color: #ff5500;}
.input_box input::-webkit-input-placeholder {color: #333 !important;opacity:1 !important;}
.input_box input::-moz-placeholder {color: #333 !important;opacity:1 !important;}
.input_box input:-ms-input-placeholder {color: #333 !important;opacity:1 !important;}
.input_box input:-moz-placeholder {color: #333 !important;opacity:1 !important;}

.input_box.submit_box button {background: #ff5500;color: #fff;width: auto !important;border: unset;padding: 15px 35px !important;font-size: 20px;text-transform: uppercase;font-weight: bold;}
