<app-header></app-header>
 
<div class="main-contaner">
    <app-sidebar></app-sidebar>
    <div class="main_background">
    <div class="l-main-content">
        <div class="page_main_top_heading">
            <h1>Manage User</h1>
        </div>
        
        <div class="main_sec_shad">
          <div class="top_searc_sec">
              <div class="searc_inner">
                  <ul>
                      <li>
                          Search:
                      </li>
                      <li>
                          <select>
                              <option>All</option>
                              <option>Name</option>
                              <option>Email</option>
                          </select>
                      </li>
                      <li><input type="text" placeholder="Keyword"></li>
                      <li>
                          <select>
                              <option>Select Status</option>
                              <option>Active</option>
                              <option>Inactive</option>
                              <option>Deleted</option>
                          </select>
                      </li>
                      <li>
                          <div class="searh_inn_btn">
                              <button>Search</button>
                              <button>Reset</button>
                          </div>
                      </li>
                  </ul>

              </div>
              <div class="sec_add_btn">
                <button routerLink='registeruser'>Add</button>
              </div>
          </div>
          
          <div class="table-responsive">
            <table class="manage_table">
                <thead>
                    <tr>
                    <th>Profilepic</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Countrycode</th>
                    <th>Calltype</th>
                    <th>Area</th>
                    <th>UserRating</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of collection | paginate: config">
                        <td><img [src]= 'imageurl+user.profilePic'  /></td>
                        <td>{{ user.nickName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.countryCode }}</td>
                         <td>{{ user.callType }}</td>
                        <td>{{ user.area }}</td>
                        <td>{{ user.userRatings }}<i class="fa fa-star" style="color:Red" aria-hidden="true"></i></td>
                            <td>
                                <div class="tbl_acti_btn">
                                    <ul>
                                        <li>
                                                <i (click)="viewUser()" class="fa fa-eye"></i>
                                        </li>
                                        <li>
                                                <i (click)="editUsers(user.id)" class="fa fa-pencil"></i>
                                        </li>
                                        <li>
                                                <i (click)="deleteUser()" class="fa fa-trash"></i>
                                        </li>
                                    </ul>
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="list">
              <pagination-controls (pageChange)="pageChange($event)" id="foo" class="my-pagination">
              </pagination-controls>
            </div>  
        </div> <!--table div-->
        </div>
        </div>
        </div>
        </div>
        