<app-header></app-header>

<div class="main-contaner">
    <app-sidebar></app-sidebar>
    <div class="main_background">
    <div class="l-main-content">
        <div class="page_main_top_heading">
            <h1>Dashboard</h1>
        </div>
        <div class="dashboard_section">
                <div class="dashboard_top_section">
                    <ul class="top_boxes_list">
                        <li class="same_boxes">
                            <div class="all_boxes">
                                <div class="all_biox_items">
                                    <h2>1,000</h2>
                                    <h3>Total users</h3>
                                </div>
                                <div class="user_icons">
                                    <img src="../../assets/images/dashboardicon/user_dash.png">
                                </div>
                            </div>
                        </li>
                        <li class="same_boxes">
                            <div class="all_boxes">
                                <div class="all_biox_items">
                                    <h2>1,000</h2>
                                    <h3>Total posts </h3>
                                </div>
                                <div class="user_icons">
                                    <img src="../../assets/images/dashboardicon/post_dash.png">
                                </div>
                            </div>
                        </li>
                        <li class="same_boxes">
                            <div class="all_boxes">
                                <div class="all_biox_items">
                                    <h2>1,000</h2>
                                    <h3>Total pictures</h3>
                                </div>
                                <div class="user_icons">
                                    <img src="../../assets/images/dashboardicon/picture_dash.png">
                                </div>
                            </div>
                        </li>
                        <li class="same_boxes">
                            <div class="all_boxes">
                                <div class="all_biox_items">
                                    <h2>1,000</h2>
                                    <h3>Total Videos</h3>
                                </div>
                                <div class="user_icons">
                                    <img src="../../assets/images/dashboardicon/video_dash.png">
                                </div>
                            </div>
                        </li>
                      
                   
                    </ul>
                </div>
            </div>

            <section class="dash_chart_sec">
             <ul>
                 <li>
                 <div class="dash_firt_chart">
                    <img src="../../assets/images/graph  chart images/graph-1.png">
                 </div>
                </li>
                <li>
                        <div class="dash_sec_chart">
                            <img src="../../assets/images/graph  chart images/graph-2.png">
                        </div>
                       </li>
                       <li>
                            <div class="dash_third_chart">
                                <img src="../../assets/images/graph  chart images/graph-4.png">
                            </div>
                           </li>
                           <li>
                                <div class="dash_four_chart">
                                    <img src="../../assets/images/graph  chart images/graph-5.png">
                                </div>
                               </li>
                               <li>
                                <div class="dash_five_chart">
                                    <img src="../../assets/images/graph  chart images/graph-5.png">
                                </div>
                               </li>
                               <li>
                                <div class="dash_six_chart">
                                    <img src="../../assets/images/graph  chart images/graph-5.png">
                                </div>
                               </li>
                               <li>
                                <div class="dash_seven_chart">
                                    <img src="../../assets/images/graph  chart images/graph-5.png">
                                </div>
                               </li>
             </ul>
            </section>
    </div>
</div>
</div>


